body {
    margin: auto;
    font-family: 'Raleway', sans-serif;
  }


.searchName {
    width: 97%;
    margin-left: 1rem;
    border: none;
    border-bottom: 1px solid lightgrey;
    height: 20px;
    margin-top: 12px;
    padding: 10px;
    font-size: large;
    margin-bottom: 20px;
    color:rgb(141, 131, 131);
    font-family: 'Raleway', sans-serif;

}
.searchName input{
  background:white;
  border: none;
  height: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

  input:focus{
  outline: none;
  }

  .searchTag {
    padding-bottom: 10px;
    width: 97%;
    margin-left: 1rem;
    align-items:left;
    justify-content: left;
    height: 25px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-size: large;
  }
  
  .searchTag input{
    border: none;
    background:white;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
  
 
  
 